<a href="https://colab.research.google.com/github/Bomitech02/Python/blob/main/Python%203%3A%20Fundamentals%20course/Iteration_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Solutions

#### Question 1

Write some code that generates an `m` x `n` multiplication table.

For example if `m=3` and `n=4` your output should look something like:

```
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
---------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
---------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
---------------
```

In [ ]:
for m in range(1,4):
  for n in range(1,5):
      print(f'{m} * {n} = {m*n}')
  print('-'*10)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
----------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
----------

**Alternatively, below can be used**

In [ ]:
for m in range(1,4):
  for n in range(1,5):
    total = m*n
    print(f'{m} * {n} = {total}')
  print('-' * 10)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
----------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
----------

Your code should be generic enough that it can handle any positive integer values of `m` and `n`.

#### Question 2

Your are given the following tuple of lists:

In [ ]:
data = (
    ['2021-01-01', 10, 20],
    ['2021-01-02', 20, 18],
    ['2021-01-03', -10, 10],
    ['2021-01-04', 100, 102],
    ['2021-01-05', 20, 45]
)
highest_abs_value = 0
#below iterate through the list in turple and calculate the abs difference between the last and second to the last element
for i in range(len(data)):
  list_count = len(data[i])
  abs_diff = abs(data[i][list_count - 2] - data[i][list_count - 1])
  data[i].append(abs_diff) #Appends the result of each iteration to the list
  
# Below assigns the abs value calc above to the highest_abs_value if greater than the highes_abs_value and then return the date(i.e data in the 0 index)
  if abs_diff > highest_abs_value:
    highest_abs_value = abs_diff
    max_date = data[i][0]

print(data)
print(max_date, ',', highest_abs_value)

(['2021-01-01', 10, 20, 10], ['2021-01-02', 20, 18, 2], ['2021-01-03', -10, 10, 20], ['2021-01-04', 100, 102, 2], ['2021-01-05', 20, 45, 25])
2021-01-05 , 25

Object `string` not found.

Your program should:
1. Mutate the lists in `data` to add one more element indicating the distance between the two integer numbers (i.e. the absolute value fo the difference)
2. Determine on which date this newly calculate value was the largest.
3. Be able to work for a `data` set containing any number of lists.

#### Question 3

You are given a list of lists containing two numbers that will need to be color coded later based on a trend determined by the following rules:
1. If the first number of a row is higher than the second number of the previous row, append the string `up` to the row
2. If the first number of a row is lower than the second number of the previous row, append the string `down` to the row
3. Otherwise, append `same` to the row.

Obviously you cannot apply these rules to the first row (there is no preceding row), so append an empty string for the first row.

Basically think of this as a list of Open/Close values, and we want to assign the values `same`, `up`, or `down` based on how a row's Open value compares to the Close of the *previous* row.

For example, given the following list:

In [ ]:
data = [
    [10, 20],
    [20, 30],
    [35, 50],
    [45, 60]
]

initial = 0
for i in range(len(data)):
  if i == 0:
    data[i].append('')
    continue

  if data[i][0] > data[initial][1]:
    data[i].append('up')

  elif data[i][0] < data[initial][1]:
    data[i].append('down')
  
  else:
    data[i].append('same')
  
  initial += 1
  
  print(initial)
data

1
2
3

[[10, 20, ''], [20, 30, 'same'], [35, 50, 'up'], [45, 60, 'down']]

Then after your code finishes running, your `data` should look like this:

```
[
    [10, 20, ''],
    [20, 30, 'same'],
    [35, 50, 'up'],
    [45, 60, 'down']
]
```